<main>
  <section id='deatils-page'>
    <div class='wrapper'>
      <div class='product-img'>
        <img src='{{housing.image}}' />
      </div>
      <div class='product-info'>
        <div class='product-text'>
          <div class='product-text'>
            <h1>Name: {{housing.name}}</h1>
            <h2>Type: {{housing.type}}</h2>
            <h4>Year: {{housing.year}}</h4>
            <h4>City: {{housing.city}}</h4>
            <p>{{housing.description}}</p>
            {{#if housing.rented.length}}

              <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
              <p>People rented this housing: Alex Petkov, Ivan Dobrev</p>
            {{else}}
              <!-- If not display: -->
              <p>People rented this housing: There are no tenants yet.</p>
            {{/if}}
          </div>
        </div>

        {{#if user}}
          <div class='product-btn'>
            {{#if isOwner}}
              <a href='/housing/{{housing._id}}/edit' class='edit'>Edit</a>
              <a href='#' class='remove'>Delete</a>
            {{/if}}
            {{#if isAvailable}}
              {{#if youRented}}
                <p class='alRentHome'>You have already rent this home</p>
              {{else}}
                <a href='#' class='rentHome'>Rent a home, available
                  {{availability}}
                  housing</a>
              {{/if}}

            {{else}}
              <p class='no-housing'>No Housing Available!</p>
            {{/if}}
          </div>{{/if}}
      </div>
    </div>
  </section>
</main>